.filter {
  width: 100%;
  min-height: 4rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter input {
  border: 1px solid black;
  height: 50px;
  font-size: x-large;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.yellowSquare {
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  border-radius: 5px;

  background-color: yellow;
  box-shadow: 1px 1px black;

}

.redCircle {
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  border-radius: 50%;

  background-color: red;
  box-shadow: 1px 1px black;
}

.blueCircle {
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  border-radius: 50%;

  background-color: blue;
  box-shadow: 1px 1px black;
}

.buttonContainer div:active {
  cursor: pointer;
  box-shadow: 3 3px #666;
  transform: translateY(4px);
  scale: .3;
}